
<main>
  <div class="container-fluid">
    <div class= "row">
      <div class="pb-1">
        <div class="cover-img" style= "background-image:url('https://cdn.pixabay.com/photo/2021/05/09/19/21/honda-6241835_1280.jpg')">
          <div class="cover-text">
            <h1 class="display-5 fw-bold">さぁ  旅に出かけよう</h1>
              <p class="col-md-8 fs-5">Today we must do something very special,<br>for it will be a glorious day.</p>
          </div>  
          <div class="store-btn">
          <% unless user_signed_in? %>
            <%= link_to image_tag("app-store.svg", class:"apple-btn"), "#" %>
            <%= link_to image_tag("google-play.png", class:"google-btn"), "#" %>
          <% end %>
          </div>
      </div>
    </div>
  </div>

    <div class="row align-items-md-stretch">
      <div class="col-md-6">

        <div class="h-100 p-5 bg-light border rounded-3">
          <h2>みんなのツーリング記録</h2>
          <p>titleを載せる</p>
          <%= link_to "Go", tourings_path, class:"btn btn-outline-secondary" %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h2>garegeチャットルーム</h2>
          <p>作成されたチャットルームを載せる</p>
          <button class="btn btn-outline-secondary" type="button">Example button</button>
        </div>
      </div>
    </div>
  </div>
</main>
    
  </body>
</html>