.cover-img {
height: 800px;
display: table;
width: 100%;
background-size: cover;
}

@media only screen and (min-width: 1500px) {
  .cover-img {
  height: 800px; 
  }
}

@media only screen and (min-width : 768px) and (max-width : 1200px) {
  .cover-img {
  height: 500px;
  }
}

@media only screen and (max-width: 479px) {
  .cover-img {
  height: 300px;
  }
}

.cover-text {
  display: table-cell;
  vertical-align: top;
  padding: 30px;
}

.store-btn{
  display: table-row;
  : 30px;
}

.apple-btn {
  margin-right: 1vw;
  height: 9vh;
}

.google-btn {
  height: 9vh;
}
